/* About = présentation + compétence + hobbie */
/*police*/
@font-face {
    font-family: "Reliable DEMO";
    src: url("../FONTS/Reliable DEMO.otf");
}

html{
  background-color: rgb(77, 76, 80);
}

/* ******************navbar***************** */
#navbar{
  position: fixed;
  width: 14%;
  height: auto;
  background-color: rgba(43, 42, 44, 0.75);
}

a{
  color: white;
  text-decoration: none;
}

nav ul{
  list-style: none;
  line-height: 50px;
  font-size: 20;
  margin: auto;
}

/* ***********************home********************** */
#home{
    width: auto;
    height: 200px;
    background-color: rgba(165, 171, 155, 0.5);
    margin-left: 15%;
    margin-right: 10%;
    margin-top: 10%;
}

h1{
  text-align: center;
  color: white;
  padding-top: 7.5%;
  position: static;
  font-family:Reliable DEMO , serif;
  font-size: 32px
}

/* *********************About******************* */
#about{
  width: auto;
  height: /*auto;*/ 600px;
  background-color: rgba(165, 171, 155, 0.5);
  margin-left: 15%;
  margin-right: 10%;
}

#photoAbout{
  width: 200px;
  height: 200px;
  background-color: white;
  float:left;
  margin-left: 5%;
  margin-top: 5%;
}


#infoAbout{
  color: white;
}

/* ***********************Portfolio********************* */
#portfolio{
  width: auto;
  height: auto;
  background-color: rgba(165, 171, 155, 0.5);
  margin-left: 15%;
  margin-right: 10%;
}

#challenge{
  width: auto;
  height: auto;
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 5%;
  position: relative;
  display: block
}

#imgChallenge{
  width: 640px;
  height: 425px;

}

#visage{
  width: auto;
  height: auto;
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 5%;
}

#imgVisage{
  width: 250;
  height:320;
  position: relative;
  left: 30%;
  display: block;

}

/* ************************Contact*********************** */
form{
  margin-left: 15%;
  color: white;
  border: 5;
}

input{
  background-color: rgba(43, 42, 44, 0.75);
  color: white;
  border-radius: 15px;
  font-size: 20px;
}

textarea{
  background-color: rgba(43, 42, 44, 0.75);
  color: white;
  border-radius: 15px;
  font-size: 20px
}

#btnEnvoyer{
  width: 50px;
  height: 50px;
  float: left;
  margin-left: 20%;
}
